WordCount/WordCountClient/Service References/WordCountServiceReference/WordCount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50000/WordCount?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordCountLibrary.Interfaces" />
  <xs:element name="CountWordsInStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountWordsInStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WordCountLibrary.Interfaces" minOccurs="0" name="CountWordsInStatementResult" nillable="true" type="q1:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>