WordCount/WordCountClient/Service References/WordCountServiceReference/WordCount1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WordCountLibrary.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WordCountLibrary.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestCompleteAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestReceivedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Snapshot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
</xs:schema>